:root {
  --minimoAnchoLlamada: max(300px, 20vw);
}

#callToAction {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--minimoAnchoLlamada), 1fr));
  grid-gap: 1rem;
}

#callToAction article {
  width: 100%;
  min-width: var(--minimoAnchoLlamada);
  border: 1px solid var(--color5);
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
  margin-right: 0.5rem;
  background-color: var(--color2);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#callToAction article h2 {
  margin-bottom: 2rem;
}

#callToAction article img {
  width: 80%;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

#callToAction article .precio {
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 2rem;
}

#callToAction article .descripcion {
  flex-grow: 1;
  font-size: large;
  color: var(--color5);
  margin-bottom: 2rem;
}

#callToAction article a {
  padding: 1rem;
  border-radius: 2rem;
  background-color: var(--color4);
  font-weight: bolder;
  margin-bottom: 2rem;
}

#callToAction article:hover {
  background-color: white;
  transition: 3s;
}
#callToAction article:hover a,
#callToAction article:hover .precio {
  transform: scale(1.2);
  transition: 3s;
}

/* Pantallas moviles */
@media (max-width: 480px) {
  :root{
    
  --minimoAnchoLlamada: max(200px, 20vw);
  }
}

/* Pantallas tablet */
@media (max-width: 768px) {
  
}