#contactanos {
  width: 60%;
}

#contactanos form {
  display: flex;
  flex-wrap: wrap;
}

#contactanos h2 {
  text-align: center;
  margin-bottom: 1rem;
}

#contactanos form textarea {
  flex-basis: 100%;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 1px solid black;
}

#contactanos form input {
  flex-grow: 1;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 1px solid black;
}

#contactanos form input[type='submit'] {
  flex-grow: 0;
  color: var(--color5);
  letter-spacing: 0.1rem;
  background-color: var(--color4);
}

#contactanos form input[type='submit']:hover {
  background-color: var(--color1);
  color: var(--color3);
}

/* Pantallas moviles */
@media (max-width: 480px) {
  #contactanos {
    width: initial;
  }
  #contactanos form {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #contactanos form textarea,
  #contactanos form input {
    flex-grow: 0;
    margin-bottom: 1rem;
    margin-right: 0rem;
  }
}

/* Pantallas tablet */
@media (max-width: 768px) {
}
