#productosPrincipales {
  display: flex;
  flex-direction: column;
}

#productosPrincipales article {
  position: relative;
  border: 1px solid var(--colorTexto);
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: var(--fondoTarjeta);
  color: black;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 'imagen ';
  grid-template-columns: 1fr 3fr;
}

#productosPrincipales article img {
  grid-area: 'imagen';
  grid-row: 1/4;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  margin-right: 1rem;
}

#productosPrincipales article h2 {
  text-align: center;
  margin: 1rem;
}

#productosPrincipales article p {
  padding-right: 1rem;
  text-align: justify;
  line-height: 1.5rem;
  text-indent: 2rem;
}

#productosPrincipales article a {
  justify-self: center;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border: 1px solid;
  border-radius: 1rem;
  background-color: tomato;
}
#productosPrincipales article a:hover {
  text-decoration: none;
  background-color: brown;
}
