:root {
  --numSlides: 3;
  --duracionSlide: 10s;
}

#slider {
  overflow: hidden;
  max-height: calc(100vh - (var(--altoNavegacion) - 1.2rem));
  box-shadow: 0.2rem 0.2rem 0.2rem black;
}

#slider figure {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  animation-name: animacionSlider;
  animation-duration: var(--duracionSlide);
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

#slider figure img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes animacionSlider {
  0% {
    margin-left: 0%;
  }
  30% {
    margin-left: -100%;
  }
  60% {
    margin-left: -200%;
  }
  90% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
